.root {
    -fx-padding: 5px ;
  	-fx-background-color: #D3D3D3;
  	 
	}
	
	.root.popup {
    -fx-background-color: transparent;
}
	
	
	
.customBackgroundColor {
    -fx-padding: 5px ;
  	-fx-background-color:  -fx-background;
  	 
	}

	
.grid-pane {
	 -fx-background-color: #D3D3D3;
}




.samuraicell {
	-fx-background-color:  black,  	#D3D3D3;
    -fx-background-insets: 0, 0 ;
    -fx-padding: 1px;
}

.emptyFreeFormCell {
	-fx-background-color: white;
}



.textfieldBasic {
	 -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: black;
	
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
	
}

.textfieldWrong {
	-fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: red;
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}

.textfieldHint {
	 -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: blue;
	
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}


.cell .texxt-field {
    -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
}


.text-field:disabled, .text-field:disabled > * {
	-fx-opacity: 1.0;
}





.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .3), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(30 , 30, 30, .95);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, 0.5, 2.0, 2.0);
}



.button1 {
	-fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
}


.coloredSamuraiCell {
	-fx-background-color:  #97c1a9;
}

.coloredSamuraiCell2 {
	-fx-background-color: #556B2F;
}

.emptySamuraiCell {
	-fx-pref-width: 2em;
}

.samuraiFont {
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 20px;
}	


.button2 {
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.buttonmainmenu {
	-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}


.mainMenuLabelsSmall {
	-fx-font-family: 'Georgia';
	-fx-font-size: 12px;
	-fx-text-fill: #A9A9A9;
}



.storageHeaderLabel {
	-fx-font-family: 'Georgia';
	-fx-font-size: 14px;
}


.buttonmainmenu2 {
  -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;

}

.hidden {
	-fx-opacity: 0;
}




.hidden:right {
	-fx-background-insets: 0, 0 1 0 0 ;
}


.sudokucell {
   
	-fx-background-color:  black, #D3D3D3;
    -fx-background-insets: 0, 0 ;

    -fx-padding: 2px;
}

.sudokucell:left {
	-fx-background-insets: 0, 0 0 1 1 ;
}

.sudokucell:right {
    -fx-background-insets: 0, 0 1 0 0 ;
}

.sudokucell:bottom {
    -fx-background-insets: 0, 0 0 1 0 ;
}

.sudokucell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0 ;
}



.hidden:right {
	-fx-background-insets: 0, 0 1 0 0 ;
}

.samuraicell:left {
	-fx-background-insets: 0, 0 0 1 1 ;
}

.samuraicell:right {
    -fx-background-insets: 0, 0 1 0 0 ;
}

.samuraicell:bottom {
    -fx-background-insets: 0, 0 0 1 0 ;
}

.samuraicell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0 ;
}


.round-red {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}



.myButton {
	
	-fx-background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
		-fx-background-color: #fff;
	-fx-border-radius:8px;
	

	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-font-family:Arial;
	-fx-font-size: 9px;
	-fx-padding:7px 25px;
	-fx-font-style:italic;
	-fx-font-weight:bold;
	-fx-font-size:17px;
	
	
}

.welcomeLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 40px;
}

.ruleHeaderLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
}

.standardLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 14px;
}

.storageResultLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 20px;
}


.myButton2 {
	-fx-background-color:transparent;
	-fx-border-radius:28px;
	-fx-border-color: #006400;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-font-family:Georgia;
	-fx-font-size:13px;
	-fx-font-weight:bold;
	-fx-font-style:italic;
	-fx-padding:10px 35px;
}

.myButton2:hover {
	-fx-background-radius: 28;
	-fx-background-color:grey;
	 -fx-background-insets: 0 0 0 0, 0, 0, 0;
	 
}


.myButton2:selected {
	-fx-background-color:  #A9A9A9;
	-fx-background-radius: 28;
	-fx-border-radius:28px;
	-fx-padding:10px 35px;
	-fx-font-weight: bold;
}

.myButton2:disabled {
	-fx-opacity: 0.8;
}
	

	

.menu-bar {
    -fx-background-color: #D3D3D3 ;
  	
    -fx-border-width: 2.0;

}

.gameLabel {
    -fx-font-family:Arial;
    -fx-font-Size: 12px;
    -fx-font-weight: bold;
}
	

	


	
	
	
	






