/**
 * general styles of the application
 */

.root {
    -fx-padding: 5px ;
  	-fx-background-color: #D3D3D3;
}
	
.root.popup {
    -fx-background-color: transparent;
}
	
.customBackgroundColor {
    -fx-padding: 5px ;
  	-fx-background-color:  -fx-background;
}

.grid-pane {
	 -fx-background-color: #D3D3D3;
}



/**
 * style of cells from samurai sudoku
 */

.samuraicell {
	-fx-background-color:  black,  	#D3D3D3;
    -fx-background-insets: 0, 0 ;
    -fx-padding: 1px;
}

.coloredSamuraiCell {
	-fx-background-color:  #97c1a9;
}

.coloredSamuraiCell2 {
	-fx-background-color: #556B2F;
}

.emptySamuraiCell {
	-fx-pref-width: 2em;
}

.samuraiFont {
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 20px;
}	


/**
 * style of cells from freeform sudoku
 */

.emptyFreeFormCell {
	-fx-background-color: white;
}


/**
 * styles of cells (text fields) 
 */

.textfieldBasic {
	 -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill:   #4F7942;
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}

.textFieldUser {
	-fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: green;
	
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}

.textfieldWrong {
	-fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: red;
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}

.textfieldHint {
	 -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: blue;
	
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
}

.textfieldLocked {
	 -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
	-fx-text-fill: black;
	
	-fx-font-family:"Arial";
	-fx-font-weight:bold;
	-fx-font-size: 23px;
	
}

.cell .texxt-field {
    -fx-pref-width: 3em ;
    -fx-pref-height: 3em ;
   
}

.text-field:disabled, .text-field:disabled > * {
	-fx-opacity: 1.0;
}

.hidden {
	-fx-opacity: 0;
}

.hidden:right {
	-fx-background-insets: 0, 0 1 0 0 ;
}

.sudokucell {
	-fx-background-color:  black, #D3D3D3;
    -fx-background-insets: 0, 0 ;
    -fx-padding: 2px;
}

.sudokucell:left {
	-fx-background-insets: 0, 0 0 1 1 ;
}

.sudokucell:right {
    -fx-background-insets: 0, 0 1 0 0 ;
}

.sudokucell:bottom {
    -fx-background-insets: 0, 0 0 1 0 ;
}

.sudokucell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0 ;
}

.hidden:right {
	-fx-background-insets: 0, 0 1 0 0 ;
}

.samuraicell:left {
	-fx-background-insets: 0, 0 0 1 1 ;
}

.samuraicell:right {
    -fx-background-insets: 0, 0 1 0 0 ;
}

.samuraicell:bottom {
    -fx-background-insets: 0, 0 0 1 0 ;
}

.samuraicell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0 ;
}


/**
 * styles for the main menu
 */

.popover > .border {
    -fx-stroke: linear-gradient(to bottom, rgba(0,0,0, .8), rgba(0, 0, 0, .7));
    -fx-stroke-width: 0.5;
    -fx-fill: rgba(30 , 30, 30, .95);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.8), 10.0, 0.5, 2.0, 2.0);
}

.mainMenuLabelsSmall {
	-fx-font-family: 'Georgia';
	-fx-font-size: 12px;
	-fx-text-fill: #A9A9A9;
}

.storageHeaderLabel {
	-fx-font-family: 'Georgia';
	-fx-font-size: 14px;
}

.welcomeLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 40px;
}

.ruleHeaderLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 17px;
	-fx-font-weight: bold;
}

.standardLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 14px;
}

.storageResultLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 20px;
}

.storageHeaderLabel {
	-fx-font-family:Georgia;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
}

.myButton2 {
	-fx-background-color:transparent;
	-fx-border-radius:28px;
	-fx-border-color: #006400;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-font-family:Georgia;
	-fx-font-size:13px;
	-fx-font-weight:bold;
	-fx-font-style:italic;
	-fx-padding:10px 35px;
}

.myButton2:hover {
	-fx-background-radius: 28;
	-fx-background-color:grey;
	 -fx-background-insets: 0 0 0 0, 0, 0, 0;
}


.myButton2:selected {
	-fx-background-color:  #A9A9A9;
	-fx-background-radius: 28;
	-fx-border-radius:28px;
	-fx-padding:10px 35px;
	-fx-font-weight: bold;
}

.myButton2:disabled {
	-fx-opacity: 0.4;
}

.menu-bar {
    -fx-background-color: #D3D3D3 ;
    -fx-border-width: 2.0;
}

.gameLabel {
    -fx-font-family:Arial;
    -fx-font-Size: 12px;
    -fx-font-weight: bold;
}